body {
    padding: 0px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    max-width: 500px;
}

a:hover {
    font-size: 30px;
}

a {
    text-decoration: none;
}